a{
    text-decoration: none;
    color: white;
}
a:hover{
    
    color: antiquewhite;
}
li{
    list-style: none;
}

.con{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.itemes{
    position: absolute;
    top: 5%;
    right: 15%;
}
.ul .li .links{
    padding: 0 10px;
    font-size: 1.1rem;
    font-style: italic;
}
.logo{
    position: absolute;
    top: 3%;
    font-size: 1.8em;
    font-style: italic ;
}
.btns{
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    background: orange;
    font-size: 1.1rem;
    outline: none;
    border: none;
}
.btns:hover{
    background: white;
    color: orange;
    transition: all 500ms ease-in-out ;
}
.color{
    color: orange;
}


.icon{
    position: absolute;
    bottom: 5%;
    margin-left: 39%;
    animation: move 1s infinite ease-in-out;
}
.icon > i {
    font-size: 1.8rem;
    
}
.arrows{
    
}


/* span:nth-child(1){
    transform: rotate(-45deg);
   
}
span:nth-child(2){
    transform: rotate(45deg);
   
} */


@keyframes move {
    0%{margin-top: 0%;}
    50%{margin-top: 100px;}
    100%{margin-top: 0%;}
}