a{
    text-decoration: none;
    color: white;
}
a:hover{
    
    color: antiquewhite;
}
li{
    list-style: none;
}

.con{
    width: 100vw;
    height: 100vh;
    position: relative;
    
}
.itemes{
    position: absolute;
    top: 5%;
    right: 15%;
}
.ul .li .links{
    padding: 0 10px;
    font-size: 1.1rem;
    font-style: italic;
}
.logo{
    position: absolute;
    top: 3%;
    font-size: 1.8em;
    font-style: italic ;
}
.showCase{
    margin-left: 27%;
    margin-bottom: 7%;
}
.at{
    margin-left: 20px;
    padding: 20px;
}
.btns{
    margin-top: 20px;
    padding: 8px 40px;
    background: none;
    border: 2px solid white;
    color: rgba(231, 162, 33, 0.925);
    border-radius: 20px;
    
}
.btns:hover{
    background: white;
    color: orange;
    transition: all 500ms ease-in-out ;
}
.color{
    color: orange;
}


.icons{
    position: absolute;
    bottom: 5%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    line-height: 10vh;
    margin-left: 39% ;
    
}
.icone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 10vh;
    margin-left: -40%;
    
    /* margin: 6%; */
    
}

span{
    /* display: flex; */
    width: 5px;
    height: 27px;
    background: white;
    margin: 6px;
    font-size: 1.1rem;
    animation: move 2s infinite ease-in-out;
}
span:nth-last-child(1){
     transform: rotate(45deg);
}
span:nth-last-child(2){
     transform: rotate(-45deg);
}

/* .icon span{
    
   
} */


@keyframes move {
    0%{margin-top: 0%;}
    50%{margin-top: 50px;}
    100%{margin-top:  0%;}
}

/*media querys*/

@media screen and (max-width:400px) {
   
   .logo{
    margin-left: 35%;
   } 
    .menus{
        text-align: center;
        margin-left: 15%;
        
    }
    .showCase{
        display: none;
    }
    .icone{
        margin-bottom: 50%;
        margin-left: 45%;
    }
    
}